/* Style the top bar and replace logo */
.topbar {
    background-color: #20232a !important;
    padding: 8px;
}

.swagger-ui .topbar-wrapper img {
    content: url('/images/concert.png');
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.swagger-ui .topbar-wrapper span {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.swagger-ui .info .title {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
}

body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
}
